<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"></div>
  <div class="page__content shadow p-3">
    <div class="page__content-data text-center">
      <h3>Danh sách khóa học</h3>
      <nav class="navbar">
        <input
          class="form-control"
          type="text"
          name="tenKhoaHoc"
          [(ngModel)]="tenKhoaHoc"
          (ngModelChange)="Search()"
          placeholder="Tên khóa học"
        />
      </nav>
      <div class="table-responsive table-container table table-sm">
        <table class="table" matSort (matSortChange)="sortData($event)">
          <thead class="thead-light">
            <tr>
              <th style="width: 10%" mat-sort-header="stt">STT</th>
              <th style="width: 20%" mat-sort-header="danhMucKhoaHoc">
                Danh mục khóa học
              </th>
              <th style="width: 20%" mat-sort-header="tenKhoaHoc">
                Tên khóa học
              </th>
              <th style="width: 10%" mat-sort-header="ngayTao">Ngày tạo</th>
              <th style="width: 20%" mat-sort-header="nguoiTao">Người tạo</th>
              <th style="width: 20%" mat-sort-header="edit">Chỉnh sửa</th>
            </tr>
          </thead>
          <tbody>
            <tr
              style="text-align: left"
              *ngFor="
                let course of sortedData
                  | paginate: { itemsPerPage: 5, currentPage: p };
                let stt = index
              "
            >
              <td>{{ course.stt + 1 }}</td>
              <td>{{ course.danhMucKhoaHoc }}</td>
              <td>{{ course.tenKhoaHoc }}</td>
              <td>{{ course.ngayTao }}</td>
              <td>{{ course.nguoiTao }}</td>
              <td>
                <button class="btn btn-success table-btn mr-1">
                  <mat-icon>create</mat-icon></button
                ><button class="btn btn-danger table-btn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls
        (pageChange)="p = $event"
        previousLabel="Trang trước"
        nextLabel="Trang sau"
      ></pagination-controls>
    </div>
  </div>
</div>
