<footer class="footer">
    <div class="footer-content">
        <h3>TP. Hồ Chí Minh</h3>
        <div class="footer-list">
            <div class="row">
                <div class="col-4">
                    <div class="footer-list-content">
                        <h4>112 Cao Thằng, Quan 3</h4>
                        <p class="footer-list-info">Hotline: 096.105 1014 - 077 886 1911</p>
                        <p>Dia chi : Tang 5 , toa nha Sun , 112 Cao Thang, Quan 3 ,THPCM</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-list-content">
                        <h4>459 Sư Vạn Hạnh, Quận 10</h4>
                        <p class="footer-list-info">Hotline: 096.105.1014 – 077.886.1911</p>
                        <p>Dia chi : Tầng 2, toà nhà WinHome, 459 Sư Vạn hạnh, Quận 10, TPHCM</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-list-content">
                        <h4>82 Ung Văn Khiêm, Bình Thạnh</h4>
                        <p class="footer-list-info">Hotline: 096.105 1014 - 077 886 1911</p>
                        <p>Dia chi : 82 Ung Văn Khiêm, Bình Thạnh, TPHCM</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="footer-list-content">
                        <h4>110 Đường số 10, Park Hill City Land, Phan Văn Trị, Gò Vấp</h4>
                        <p class="footer-list-info">Hotline: 096.105 1014 - 077 886 1911</p>
                        <p>Dia chi : 110 Đường số 10, Park Hill City Land, Phan Văn Trị, Gò Vấp, TPHCM</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-list-content">
                        <h4>56 Lê Cảnh Tuân, Tân Phú</h4>
                        <p class="footer-list-info">Hotline: 096.105 1014 - 077 886 1911</p>
                        <p>Dia chi : 56 Lê Cảnh Tuân, Tân Phú, TPHCM</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-list-content">
                        <h4>6C Đường số 8, Linh Tây, Thủ Đức (gần ĐH Cảnh Sát)</h4>
                        <p class="footer-list-info">Hotline: 096.105 1014 - 077 886 1911</p>
                        <p>Dia chi : 6C Đường số 8, Linh Tây, Thủ Đức, TPHCM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>