<app-banner></app-banner>
<div class="py-5" style="background-color: #333">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          style="width: 100%"
          src="../../../../assets/img/img1.jpg"
          alt="about"
        />
      </div>
      <div class="col-md-6">
        <h3 style="color: #e0dede">Giới thiệu</h3>
        <p style="color: #e0dede">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At autem
          cumque, ducimus et, optio eum corporis atque molestias unde
          exercitationem sapiente corrupti dolor odio quasi quibusdam debitis
          omnis est soluta repudiandae accusantium perspiciatis. Exercitationem
          minima, aperiam similique quos ipsam eaque ea ex consequatur, corrupti
          rerum numquam omnis voluptatem odit? Reprehenderit saepe illo culpa
          harum quod atque ullam nesciunt a maiores quidem autem perferendis
          corporis, impedit quasi quam eius! Mollitia, atque. Tempora dolores
          corrupti quisquam ea cum reiciendis aliquam incidunt voluptas neque
          delectus voluptatum nisi culpa quo architecto nam esse modi iste
          veniam laudantium sint dignissimos, excepturi repellendus facere
          corporis? Sed.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Tại sao bạn nên chọn Cybersoft</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At autem
          cumque, ducimus et, optio eum corporis atque molestias unde
          exercitationem sapiente corrupti dolor odio quasi quibusdam debitis
          omnis est soluta repudiandae accusantium perspiciatis. Exercitationem
          minima, aperiam similique quos ipsam eaque ea ex consequatur, corrupti
          rerum numquam omnis voluptatem odit? Reprehenderit saepe illo culpa
          harum quod atque ullam nesciunt a maiores quidem autem perferendis
          corporis, impedit quasi quam eius! Mollitia, atque. Tempora dolores
          corrupti quisquam ea cum reiciendis aliquam incidunt voluptas neque
          delectus voluptatum nisi culpa quo architecto nam esse modi iste
          veniam laudantium sint dignissimos, excepturi repellendus facere
          corporis? Sed.
        </p>
      </div>
      <div class="col-md-6">
        <img
          style="width: 100%"
          src="../../../../assets/img/propraming.PNG"
          alt="about"
        />
      </div>
    </div>
  </div>
</div>
<div class="py-5" style="background-color: #333">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          style="width: 100%"
          src="../../../../assets/img/img2.png"
          alt="about"
        />
      </div>
      <div class="col-md-6">
        <h3 style="color: #e0dede">Cam kết</h3>
        <p style="color: #e0dede">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At autem
          cumque, ducimus et, optio eum corporis atque molestias unde
          exercitationem sapiente corrupti dolor odio quasi quibusdam debitis
          omnis est soluta repudiandae accusantium perspiciatis. Exercitationem
          minima, aperiam similique quos ipsam eaque ea ex consequatur, corrupti
          rerum numquam omnis voluptatem odit? Reprehenderit saepe illo culpa
          harum quod atque ullam nesciunt a maiores quidem autem perferendis
          corporis, impedit quasi quam eius! Mollitia, atque. Tempora dolores
          corrupti quisquam ea cum reiciendis aliquam incidunt voluptas neque
          delectus voluptatum nisi culpa quo architecto nam esse modi iste
          veniam laudantium sint dignissimos, excepturi repellendus facere
          corporis? Sed.
        </p>
      </div>
    </div>
  </div>
</div>
<app-list-course></app-list-course>
